.displayContainer{
    margin-top: 30px;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;   
   
}
.contactCards{
    background-color: #7695FF;
    width: 200px;
    height: 150px;
    padding: 5px;
    border-radius: 25px;  
    margin: 20px; 
}
.contactTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
}

.contactsubT{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 15px;
}

.contactCards button{
    background-color: white;
    color: #7695FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px; 
    border: none;
    border-radius: 25px;
    width: 80px;
    margin-right: 20px;
}

.cardControler{
    display: flex;
}

.cardEdit{
    background-color: white;
    color: #7695FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px; 
    border: none;
    border-radius: 25px;
    width: 80px;
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
}