.editForms{
    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
    padding: 20px;
}


.editForms label{
    display: block;
    margin-left:10% ;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: #7695FF;
}

.editForms input{
    margin-left: 10%;
    margin-bottom: 30px;
    width: 70%;
    height:30px;
    border-radius:20px ;
    border: 2px solid  #7695FF;
    background-color: #FFD7C4;
}

.editForms button{
    margin-left: 30%;
    margin-bottom: 10px;
    width: 40%;
    height: 30px;
    background-color:  #7695FF;
    border: none;
    color: white;
    border-radius:20px ;
}