body{
    background-color: #FFD7C4;
}
.logContainer{
    background-color: #7695FF;
    margin-left: 35%;
    margin-top: 15%;
    border: 2px solid white;
    width: 30%;
    padding: 20px;
    border-radius:20px ;
}

.logContainer h2{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.logContainer label{
    display: block;
    margin-left:10% ;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
}

.logContainer input{
    margin-left: 10%;
    margin-bottom: 30px;
    width: 70%;
    height:30px;
    border-radius:20px ;
    border: none;
}

.logContainer button{
    margin-left: 30%;
    margin-bottom: 10px;
    width: 40%;
    height: 30px;
    background-color: #7695FF;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
}