
.navBar{
    background-color: #7695FF;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
}

ul{
    list-style-type: none;
}

.link {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logOff{
    background-color: #7695FF;
    border: none;
    color: white;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}